body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

footer {
    background-color: #0084ff;
    color: white;
}

.bg_black {
    background-color: black;
    padding: 10px;
}

.logo_sony {
    width: 100px;
}

.jumbo_container {
    position: relative;
}

.carousel div img {
    width: 95%;
    border-radius: 10px;
    outline: 2px solid rgb(81, 0, 255);
    outline-offset: 4px;
    margin: 12px 0;
}

