body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.bg_black {
    background-color: black;
    padding: 10px;
}

.logo_sony {
    width: 100px;
}

section > .jumbo_img {
    width: auto;
    min-height: 620px;
    object-fit: cover;
}

#logotype_img {
    width: 55%;
}

.jumbo_carousel div img {
    width: 95%;
    border-radius: 10px;
    outline: 2px solid #2c8ad6;
    outline-offset: 4px;
}

.mod_highlight {
    border-bottom: 3px solid #2c8ad6;
}

#games {
    background-color: #1f1f1f;
}

.games_carousel div img {
    width: 95%;
    border-bottom: 5px;
}

footer {
    background-color: #00439c;
    color: white;
}
