body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.bg_black {
    background-color: black;
    padding: 10px;
}

.logo_sony {
    width: 100px;
}

.mod_lens {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

section > .jumbo_img {
    width: auto;
    min-height: 620px;
    object-fit: cover;
}

.logotype_img {
    width: 55%;
}

.jumbo_carousel div img {
    width: 95%;
    border-radius: 10px;
    outline: 2px solid #2c8ad6;
    outline-offset: 4px;
}

.mod_highlight {
    border-bottom: 3px solid #2c8ad6;
}

#games {
    background-color: #1f1f1f;
}

div.games_carousel img {
    width: 95%;
    margin-bottom: 10px;
}

#ps_plus {
    background-color: #bebcbb;
}

#ps_now {
    background-color: #161c3b;
}

footer {
    background-color: #00439c;
    color: white;
}


#ps_logo {
    width: 120px;
}

footer ul {
    list-style: none;
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

#sie_logo {
    width: 150px;
}
